* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: rgb(0, 0, 0);
  font-family: "Scope One", serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 450;
  background-color: rgb(10, 10, 10);
}

.right {
  float: right;
}

.top {
  height: 40vh;
  background-image: url(uwWgxL.png);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: cover;
  background-position-y: -450px;
  background-position-x: 0px;
  position: relative;
}

.budget {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.budget__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  width: 500px;
}

.budget__value {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200;
}

.budget__income,
.budget__expense {
  padding: 12px;
  border-radius: 8px;
}

.budget__income {
  margin-bottom: 12px;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 225, 255),
    rgb(0, 119, 255)
  );
}

.budget__expense {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 56, 72),
    rgb(255, 0, 0)
  );
}

.budget__income--text,
.budget__expense--text {
  float: left;
  font-size: 13px;
  font-weight: 550;
  color: rgb(0, 0, 0);
  margin-top: 5px;
}

.budget__income--value,
.budget__expense--value {
  float: left;
  letter-spacing: 1px;
  font-weight: 550;
  color: snow;
}

.budget__expense--percentage {
  float: left;
  width: 34px;
  font-size: 13px;
  padding: 3px 3px 3px 3px;
  margin-left: 10px;
  background-color: rgb(255, 130, 130);
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
}

.add {
  padding: 10px;
  border-bottom: 1px solid #303030;
  background-color: rgb(25, 25, 25);
}

.add__container {
  margin: 0 auto;
  text-align: center;
}

.add__type {
  width: 45px;
  border: 1px solid #000000;
  height: 46px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: rgb(160, 160, 160);
  margin-right: 10px;
  padding-top: -10px;
  font-weight: 300;
  transition: border 0.3s;
  position: relative;
  top: 3px;
  left: 15px;
}

.add__description,
.add__value,
.add__heading {
  border: 1px solid #000000;
  background-color: rgb(160, 160, 160);
  color: black;
  font-family: inherit;
  font-weight: 550;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 10px;
  border-radius: 8px;
  transition: border 0.3s;
  position: relative;
  left: 15px;
}

.add__description {
  width: 400px;
}
.add__value {
  width: 125px;
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: rgb(61, 194, 194);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.1;
  margin-left: 15px;
  transition: font-size 0.3s;
}

.add__btn:hover {
  font-size: 25px;
}
.add__btn:active {
  font-size: 32px;
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid rgb(61, 194, 194);
}

.add__btn:focus {
  outline: none;
}

.heading {
  position: absolute;
  top: 54.5%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  padding: 8px;
  padding-bottom: -1;
  border-radius: 3px;
  vertical-align: middle;
  line-height: 1;
  background-color: rgb(195, 195, 195);
}

.heading__title {
  font-family: "Scope One", serif;
  font-size: 20px;
  margin-top: 1px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.heading__btn {
  border: none;
  font-size: 35px;
  background: none;
  color: rgb(130, 130, 130);
  vertical-align: middle;
  margin-left: 20px;
  line-height: 1;
  cursor: pointer;
  transition: font-size 0.2s;
}

.heading__btn:hover {
  font-size: 25px;
}

.heading__btn:active {
  font-size: 30px;
}

.container {
  width: 1000px;
  margin: 60px auto;
  font-weight: 550;
  border-radius: 3px;
}

.income {
  float: left;
  width: 475px;
}

.expense {
  float: left;
  width: 475px;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.income__title {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff)
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0.3, #22f),
    color-stop(0.45, #2ff)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.expense__title {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(255, 0, 0)),
    color-stop(0.15, rgb(255, 0, 13))
  );
  background-image: gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(255, 0, 0)),
    color-stop(0.15, rgb(255, 0, 3))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.item {
  padding: 13px;
  border-bottom: 1px solid #757575;
  border-radius: 8px;
}

.item:first-child {
  border-top: 1px solid #757575;
}
.expense .item:nth-child(odd) {
  background-color: #e7e7e7;
}

.expense .item:nth-child(even) {
  background-color: #cacaca;
}
.income .item:nth-child(even) {
  background-color: #e7e7e7;
}

.income .item:nth-child(odd) {
  background-color: #cacaca;
}

.item__description {
  float: left;
}

.item__value {
  float: left;
  transition: transform 0.3s;
  font-size: 20px;
  font-weight: 580;
}

.item__percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 14px;
  background-color: #ffd7d7;
  padding: 2px;
  border-radius: 3px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

.income .item__value,
.income .item__delete--btn,
.income .move__up,
.income .move__down {
  color: rgb(0, 180, 180);
}

.expense .item__value,
.expense .item__percentage,
.expense .item__delete--btn,
.expense .move__up,
.expense .move__down {
  color: rgb(255, 83, 83);
}

.btns {
  float: left;
  margin-left: 10px;
}

.item__delete--btn {
  font-size: 20px;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  display: none;
  top: 1px;
  vertical-align: middle;
  line-height: 1;
  transition: font-size 0.3s;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateX(-2px);
}

.item:hover .item__delete--btn {
  display: inline-block;
}
.item:hover .item__value {
  transform: translateX(-20px);
}
.item:hover .item__percentage {
  transform: translateX(-20px);
}
.item__delete--btn:hover {
  transform: rotate(25deg);
  vertical-align: middle;
}

.move__up {
  background: none;
  border: none;
  vertical-align: top;
  position: relative;
  font-size: 23px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  float: left;
  display: none;
  font-weight: 400;
  transition: all 0.5s;
}

.move__down {
  background: none;
  border: none;
  vertical-align: top;
  position: relative;
  font-size: 23px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  float: left;
  display: none;
  font-weight: 400;
  transition: font-size 0.3s, bottom 0.3s, top 0.3s;
}

.move__up:hover {
  bottom: 8px;
}

.move__up:active {
  top: 0.05px;
}

.move__down:hover {
  top: 6px;
}

.move__down:active {
  transform: translateY(-8px);
}

.item:hover .move__up,
.item:hover .move__down {
  display: inline-block;
}
.navigation__btns {
  float: left;
}

.item__delete {
  float: left;
}

.red {
  color: rgb(255, 60, 60);
}
.red-focus:focus {
  border: 1px solid rgb(255, 50, 50);
}
